Name: Max Mößlang
Matrikelnummer:8431973

___

In [1]:
# Imports
import pandas as pd
import numpy as np

___
**_Bitte beachten:_**

- In Code-Zellen soll (bei Bedarf kommentierter) Code eingefügt werden. In Raw-Zellen erwarten wir Antworten im Freitext-Format.
- Fragestellungen sind teilweise bewusst etwas offener formuliert, weil Sie auch im Arbeitsleben nur selten mit ganz spezifischen Anweisungen rechnen können. Es gibt häufig mehrere mögliche Lösungen, dies wird in der Korrektur  berücksichtigt.

___

# (I can't get no) satisfaction
Wir werden in diesem Kurs mit einem Datensatz arbeiten, der verschiedene Informationen über Angestellte einer fiktiven Firma namens *Fiktiva* enthält. Mithilfe des Datensatzes soll die Fragestellung beantwortet werden, ob ein\*e Angestellte\*r in der Firma zufrieden ist (`satisfied = 1`) oder nicht (`satisfied = 0`). In dieser Kurseinheit werden wir uns mit den Daten vertraut machen und mit einigen Fragen zur Datenqualität auseinandersetzen.

Manchmal werden zur Beantwortung von Fragen weitere Informationen benötigt. Sie können hierfür auch externe Quellen verwenden und bspw. die Datei `metadata.txt` zu Rate ziehen, aber auch alle Informationen aus dem Fiktiva-Newsletter.

## Daten laden
Den Datensatz (*employees_satisfaction.csv*) finden Sie im Moodle. Laden Sie ihn in ein Pandas-Dataframe. Geben Sie die ersten 10 Zeilen aus.

In [4]:
# Ihre Lösung
# Hinweis: Laden Sie den Datensatz so, dass die erste Spalte als Index (Row Label) verwendet wird
satisfaction_data = pd.read_csv("employees_satisfaction.csv", index_col=1)
satisfaction_data.head(10)

,Unnamed: 0,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
emp_id,,,,,,,,,,,,,,
HR8270,0,28,HR,PG,Referral,5,2.0,1,0,86750,m,2019-02-01,NaN,1
TECH1860,1,50,Technology,PG,Recruitment Agency,3,5.0,2,1,42419,Male,2017-01-17,NaN,0
TECH6390,2,43,Technology,UG,Referral,4,1.0,2,0,65715,f,2012-08-27,NaN,1
SAL6191,3,44,Sales,PG,On-Campus,2,3.0,0,0,29805,f,2017-07-25,NaN,1
HR6734,4,33,HR,UG,Recruitment Agency,2,1.0,5,0,29805,m,2019-05-17,NaN,1
PUR7265,5,40,Purchasing,UG,Walk-in,3,3.0,7,1,42419,m,2004-04-22,0.02,1
PUR1466,6,26,Purchasing,UG,Referral,5,5.0,2,0,86750,m,2019-12-10,NaN,1
TECH5426,7,25,Technology,UG,Recruitment Agency,1,1.0,4,0,24076,Female,2017-03-18,NaN,0
HR6578,8,35,HR,PG,Referral,3,4.0,0,0,42419,f,2015-04-02,NaN,1
TECH9322,9,45,Technology,PG,Referral,3,3.0,9,0,42419,f,2004-03-19,0.07,0

## Erste Datenanalyse

Machen Sie sich mit den Daten vertraut:
- Wie viele Zeilen hat der Datensatz?
- Wie viele Spalten hat der Datensatz?
- Welchen Datentyp haben die einzelnen Spalten?
- Ermitteln Sie statistische Kennzeichen der numerischen Spalten.
- Welche Informationen stellt der Datensatz für die Vorhersage der Zufriedenheit bereit? Beachten Sie hierfür auch die Angaben in der Datei `metadata.txt`
- Gibt es fehlende Werte in den Daten?

In [24]:
# Ihre Lösung (nutzen Sie dafür untenstehende Zellen)

In [5]:
# Wie viele Zeilen hat der Datensatz? 
row_count=len(satisfaction_data)
print(f'Der Datensatz hat {row_count} Zeilen!')

Der Datensatz hat 500 Zeilen!

In [6]:
# Wie viele Spalten hat der Datensatz?
column_count=len(satisfaction_data.columns)
print(f'Der Datensatz hat {column_count} Spalten!')

Der Datensatz hat 14 Spalten!

In [7]:
# Welche Spalten beinhaltet der Datensatz?
print("Der Datensatz beinhaltet folgende Spalten:")
for spalten in satisfaction_data.columns:
    
    print(spalten)

Der Datensatz beinhaltet folgende Spalten:
Unnamed: 0
age
Dept
education
recruitment_type
job_level
rating
awards
certifications
salary
gender
entry_date
last_raise
satisfied

In [8]:
# Welchen Datentyp haben die einzelnen Spalten?
print('Hier sind die Datentypen zu den jeweiligen Spalten:')
satisfaction_data.dtypes

Hier sind die Datentypen zu den jeweiligen Spalten:

Unnamed: 0            int64
age                   int64
Dept                 object
education            object
recruitment_type     object
job_level             int64
rating              float64
awards                int64
certifications        int64
salary                int64
gender               object
entry_date           object
last_raise          float64
satisfied             int64
dtype: object

In [9]:
# Ermitteln Sie statistische Kennzeichen der numerischen Spalten.
print("Hier sind statistische Kennzeichen zu den einzelnen Spalten:\n")
print(satisfaction_data.describe())

Hier sind statistische Kennzeichen zu den einzelnen Spalten:

       Unnamed: 0         age   job_level      rating      awards  \
count  500.000000  500.000000  500.000000  471.000000  500.000000
mean   249.500000   39.694000    3.032000    3.093418    4.570000
std    144.481833    8.477033    1.423738    1.423129    2.989812
min      0.000000   22.000000    1.000000    1.000000    0.000000
25%    124.750000   34.000000    2.000000    2.000000    2.000000
50%    249.500000   39.000000    3.000000    3.000000    5.000000
75%    374.250000   47.000000    4.000000    4.000000    7.000000
max    499.000000   56.000000    5.000000    5.000000   25.000000

       certifications        salary  last_raise   satisfied
count      500.000000    500.000000   26.000000  500.000000
mean         0.514000  50416.056000    0.049231    0.714000
std          0.628167  23671.392661    0.029519    0.452342
min          0.000000  24076.000000    0.010000    0.000000
25%          0.000000  29805.000000    0.020000    0.000000
50%          0.000000  42419.000000    0.050000    1.000000
75%          1.000000  65715.000000    0.077500    1.000000
max          9.000000  86750.000000    0.100000    1.000000

In [10]:
# Gibt es fehlende Werte in den Daten?<
np.where(pd.isnull(satisfaction_data))
# Ja sowohl im Rating als auch bei den Gehaltserhöhungen, im Output sieht man die Reihe mit der jeweiligen Spalte

(array([  0,   1,   2,   3,   4,   6,   7,   8,  10,  11,  12,  13,  14,
         15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  40,  41,
         42,  43,  44,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
         56,  57,  58,  59,  60,  61,  61,  62,  63,  64,  65,  66,  67,
         67,  68,  69,  69,  70,  70,  71,  72,  73,  74,  75,  76,  77,
         78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
         91,  92,  93,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
        106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 117,
        118, 119, 120, 121, 122, 123, 123, 124, 125, 126, 127, 128, 129,
        130, 131, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
        145, 145, 146, 147, 149, 150, 152, 153, 154, 155, 156, 158, 159,
        160, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
        174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 184, 185,
        186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
        199, 200, 201, 202, 204, 205, 206, 207, 208, 209, 210, 211, 212,
        213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 222, 223, 224,
        225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 236, 236, 237,
        238, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 261, 262, 263,
        264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 275, 276, 277,
        278, 279, 280, 281, 282, 283, 283, 284, 285, 286, 287, 288, 289,
        290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302,
        303, 304, 305, 306, 307, 310, 311, 312, 313, 314, 315, 316, 317,
        318, 319, 320, 321, 322, 323, 323, 324, 325, 326, 327, 328, 329,
        330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
        343, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354,
        355, 356, 356, 357, 357, 358, 359, 361, 361, 362, 363, 364, 365,
        365, 366, 367, 368, 369, 369, 370, 371, 372, 373, 374, 376, 377,
        378, 379, 380, 381, 382, 383, 384, 385, 387, 388, 388, 390, 390,
        391, 392, 393, 393, 394, 395, 396, 397, 398, 398, 399, 400, 401,
        402, 403, 404, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413,
        414, 415, 416, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425,
        426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438,
        439, 440, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450,
        451, 451, 452, 454, 455, 456, 457, 458, 458, 459, 460, 461, 462,
        463, 464, 465, 466, 467, 468, 470, 471, 472, 473, 474, 475, 475,
        476, 477, 479, 480, 481, 483, 483, 484, 485, 486, 487, 487, 488,
        489, 490, 491, 492, 493, 494, 495, 496, 497, 497, 498, 499]),
 array([12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12,  6, 12, 12,  6,
        12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12,
        12, 12, 12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 10, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12,  6, 12, 12,
        12,  6, 12, 12, 12, 12,  6, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 10, 12, 12,
        12,  6, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12,  6, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12,
        12, 12, 12,  6, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
        12, 12, 12, 10, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12, 12,  6, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12,  6, 12, 12, 12]))

## Datenqualität

*Hinweis: Bei den folgenden Fragen geht es um Ihre Einschätzung. Ziel ist es, sich mit dem Thema Datenqualität auseinanderzusetzen und sich mit Fragestellungen in Bezug auf Data Fitness, etc. zu beschäftigen.*

Was denken Sie über den Datensatz? Ist dieser geeignet, um die Fragestellung über die Zufriedenheit der Angestellten zu beantworten? Reichen die angegebenen Informationen zur Beantwortung der Fragestellung aus? Wenn nicht, welche Informationen würden Sie noch verwenden?

Ihre Einschätzung:
Nein um genaue Vorhersagen zu treffen sind die Informationen zum Teil zu wage und können ohne Hintergrund nicht interpretiert werden. So sind einige Werte ohne eine Tabelle mit
Referenzen relativ nutzlos. So z.B. Rating und Job Level. Diese ermöglichen zwar eine grobe Zuordnung, aber lassen keine genauere Kategorisierung zu. Auch der Artikel im Newsletter
hilft hierbei nicht wirklich weiter.
Ein guter Überblick über die Situation in dem Unternehmen wird jedoch gegeben und gewisse Tendenzen lassen sich sicherlich feststellen.

Für welche weiteren Fragestellungen/Analysen könnte der Datensatz geeignet sein?

Ihre Einschätzung:
Wie im Analyseteil bereits ermittelt lassen sich einige statistisch Interessante Stichpunkte aus den Daten herauslesen. So z.B. Altersdurschnitt, Gehaltsverteilungen,
insbesondere könnte auch hier z.B. die Gender Pay Gap analysiert werden, welche häufig in Unternehmen zur Diskussion steht.

Stellen Sie Überlegungen zur Datenerhebung an. Welche Faktoren könnten die Datenqualität beeinträchtigen?

Ihre Einschätzung:
Ein sehr großer Kritikpunkt ist in meinen Augen die Tatsache, dass die Daten nicht anonym erhoben wurden. Zu jeder Person wird ein Kürzel angegeben, was jedoch in den Analysen nicht weiterhilft.
Die Personen könnten jedoch in ihrer Entscheidung maßgeblich beeinträchtigt worden sein.

Beurteilen Sie den Datensatz bzgl. der weiteren Aspekte zur Datenqualität, die Sie im Kurstext kennengelernt haben:

In [38]:
# Platz für Analysen bzgl. der Datenqualität

#Fehlende Datenpunkte
missingRating = satisfaction_data["rating"].isnull().sum()
print("In Rating fehlen: {} Werte!".format(missingRating))
missingRaise = satisfaction_data["last_raise"].isnull().sum()
print("In Last_Raise fehlen: {} Werte!".format(missingRaise))

#Prozentsatz fehlende Datenpunkte bei Gehaltserhöhungen
percentileNoRaise=474/500*100
print("In der Spalte last_raise sind {} Prozent der Spalten leer!".format(percentileNoRaise))

In Rating fehlen: 29 Werte!
In Last_Raise fehlen: 474 Werte!
In der Spalte last_raise sind 94.8 Prozent der Spalten leer!

Ihre Einschätzung:
Zu den einzelnen Aspekten:

Is it of known Pedigree?
Ja! Da die Umfrage von der Firma selbst erhoben wurde, ist die Quelle durchaus bekannt.

Is it timely?
In dem Kontext des Newsletters ja, da die Ergebnisse innerhalb eines Monats veröffentlicht wurden und nicht sehr zeitkritisch sind.
In unserem Kontext der Auswertung (Quelle 2021, Auswertung Oktober 2023) sind die Daten jedoch schon etwas veraltet.

Is it complete?
Nein. Wie durch Python analysiert lassen sich doch einige Lücken in dem Datensatz finden. Die Lücken in Rating sind zwar eindeutig, aber die Lücken in Last Raise können auch davon kommen,
dass noch kein Gehalt erhöht wurde. Was jedoch sehr unwahrscheinlich ist, da nur 5% der Mitarbeiter überhaupt eine Gehaltserhöhung bekommen haben sollen.

Is it well-annotated?
Eindeutig nicht, da kein einziger Kommentar zu den einzelnen Spalten existiert.

Is it high volume?
Es ist sicherlich kein übertrieben großer Datensatz, aber mit Daten von 500 Mitarbeitern (also allen laut Newsletter) lassen sich jedoch akzeptable Aussagen treffen.

Is it consistent?
Da hier nur ein Datensatz existiert und dieser in sich selbst keine besonderen Abweichungen vorweist ist dieser in sich selbst beständig. Nur die Datenlücken sind natürlich auch in diesem
Punkt fragwürdig.

Is it Multivariate?
Da sich die Fragestellung einzig und allein auf die Zufriedenheit begrenzt hat sind 14 Spalten recht umfassend.

Is it atomic?
Teilweise ja, teilweise nein. Das Mitarbeitergehalt ist z.B. sehr Präzise aufgeführt. Die Job Levels und Ratings aber eher ungenau.

Is it clear?
Job Levels, Ratings und Certifications lassen allein durch ihre Labels keine genauen Rückschlüsse auf ihre Bedeutung ziehen. Hier wären noch Kommentare oder ein Aufschlüsselungsdokument vonnöten.
Der Rest ist jedoch sehr eindeutig gestaltet.

Is it dimensionally structured?
Auch hier zu Teilen ja und zu Teilen nein. Es werden gute Klassifikatoren ausgewählt, diese aber nicht besonders gut aufgeschlüsselt.

Stellen Sie sich vor, dieser Datensatz soll dazu verwendet werden, um die Zufriedenheit von Angestellten vorherzusagen und daraus wiederum Rückschlüsse auf das Kündigungswahrscheinlichkeiten zu schließen. Für wie zuverlässig würden Sie entsprechende Wahrscheinlichkeiten halten?

Ihre Einschätzung:
Eher unzuverlässig, allein dadurch, da die Zufriedenheit an sich als simples true oder false ermittelt wurde. Eine Unzufriedenheit beim Arbeitnehmer kann sich aber in ein deutlich feineres
Spektrum einordnen lassen und die Schwelle zur Kündigung dadurch auch genauer abgeschätzt werden.

Nehmen Sie an, mithilfe des Datensatzes wäre ein zuverlässiges Modell mit guten Vorhersagewahrscheinlichkeiten trainiert worden, um die Zufriedenheit der Angestellten zu bestimmen. Nun möchte eine andere Firma aus der gleichen Branche dasselbe Modell für ihre Angestellten nutzen. Denken Sie, das Modell würde auch für die andere Firma zuverlässige Vorhersagen treffen?

Ihre Einschätzung:
Sofern die Firma ähnliche Strukturen aufweist ja. Falls aber komplett neue Abteilungen aufgeführt werden und neue Faktoren in den Datensätzen eingeschlossen werden, sollten die Ergebnisse
stärker abweichen.

Überlegen Sie, welche Vorverarbeitungsschritte für den Datensatz notwendig wären.

Ihre Einschätzung:
Mit höchster Priorität sollten skalare Spalten wie Ratings und Job-Level in einer Tabelle verdeutlicht werden. Zudem wäre es natürlich förderlich fehlende Datenpunkte nachzutragen oder Mitarbeiter
mit fehlenden Angaben aus der Analyse zu streichen.