Name: Max Mößlang
Matrikelnummer:8431973

___

In [2]:
# Imports
import pandas as pd

___
**_Bitte beachten:_**

- In Code-Zellen soll (bei Bedarf kommentierter) Code eingefügt werden. In Raw-Zellen erwarten wir Antworten im Freitext-Format.
- Fragestellungen sind teilweise bewusst etwas offener formuliert, weil Sie auch im Arbeitsleben nur selten mit ganz spezifischen Anweisungen rechnen können. Es gibt häufig mehrere mögliche Lösungen, dies wird in der Korrektur  berücksichtigt.

___

# (I can't get no) satisfaction
Wir werden in diesem Kurs mit einem Datensatz arbeiten, der verschiedene Informationen über Angestellte einer fiktiven Firma namens *Fiktiva* enthält. Mithilfe des Datensatzes soll die Fragestellung beantwortet werden, ob ein\*e Angestellte\*r in der Firma zufrieden ist (`satisfied = 1`) oder nicht (`satisfied = 0`). In dieser Kurseinheit werden wir uns mit den Daten vertraut machen und mit einigen Fragen zur Datenqualität auseinandersetzen.

Manchmal werden zur Beantwortung von Fragen weitere Informationen benötigt. Sie können hierfür auch externe Quellen verwenden und bspw. die Datei `metadata.txt` zu Rate ziehen, aber auch alle Informationen aus dem Fiktiva-Newsletter.

## Daten laden
Den Datensatz (*employees_satisfaction.csv*) finden Sie im Moodle. Laden Sie ihn in ein Pandas-Dataframe. Geben Sie die ersten 10 Zeilen aus.

In [17]:
# Ihre Lösung
# Hinweis: Laden Sie den Datensatz so, dass die erste Spalte als Index (Row Label) verwendet wird
satisfaction_data = pd.read_csv("employees_satisfaction.csv", index_col=1)
satisfaction_data.head(10)

,Unnamed: 0,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
emp_id,,,,,,,,,,,,,,
HR8270,0,28,HR,PG,Referral,5,2.0,1,0,86750,m,2019-02-01,NaN,1
TECH1860,1,50,Technology,PG,Recruitment Agency,3,5.0,2,1,42419,Male,2017-01-17,NaN,0
TECH6390,2,43,Technology,UG,Referral,4,1.0,2,0,65715,f,2012-08-27,NaN,1
SAL6191,3,44,Sales,PG,On-Campus,2,3.0,0,0,29805,f,2017-07-25,NaN,1
HR6734,4,33,HR,UG,Recruitment Agency,2,1.0,5,0,29805,m,2019-05-17,NaN,1
PUR7265,5,40,Purchasing,UG,Walk-in,3,3.0,7,1,42419,m,2004-04-22,0.02,1
PUR1466,6,26,Purchasing,UG,Referral,5,5.0,2,0,86750,m,2019-12-10,NaN,1
TECH5426,7,25,Technology,UG,Recruitment Agency,1,1.0,4,0,24076,Female,2017-03-18,NaN,0
HR6578,8,35,HR,PG,Referral,3,4.0,0,0,42419,f,2015-04-02,NaN,1
TECH9322,9,45,Technology,PG,Referral,3,3.0,9,0,42419,f,2004-03-19,0.07,0

## Erste Datenanalyse

Machen Sie sich mit den Daten vertraut:
- Wie viele Zeilen hat der Datensatz?
- Wie viele Spalten hat der Datensatz?
- Welchen Datentyp haben die einzelnen Spalten?
- Ermitteln Sie statistische Kennzeichen der numerischen Spalten.
- Welche Informationen stellt der Datensatz für die Vorhersage der Zufriedenheit bereit? Beachten Sie hierfür auch die Angaben in der Datei `metadata.txt`
- Gibt es fehlende Werte in den Daten?

In [ ]:
# Ihre Lösung (nutzen Sie dafür untenstehende Zellen)

In [ ]:
# Wie viele Zeilen hat der Datensatz?

In [ ]:
# Wie viele Spalten hat der Datensatz?

In [ ]:
# Welche Spalten beinhaltet der Datensatz?

In [ ]:
# Welchen Datentyp haben die einzelnen Spalten?

In [ ]:
# Ermitteln Sie statistische Kennzeichen der numerischen Spalten.

In [ ]:
# Gibt es fehlende Werte in den Daten?

## Datenqualität

*Hinweis: Bei den folgenden Fragen geht es um Ihre Einschätzung. Ziel ist es, sich mit dem Thema Datenqualität auseinanderzusetzen und sich mit Fragestellungen in Bezug auf Data Fitness, etc. zu beschäftigen.*

Was denken Sie über den Datensatz? Ist dieser geeignet, um die Fragestellung über die Zufriedenheit der Angestellten zu beantworten? Reichen die angegebenen Informationen zur Beantwortung der Fragestellung aus? Wenn nicht, welche Informationen würden Sie noch verwenden?

Ihre Einschätzung:

Für welche weiteren Fragestellungen/Analysen könnte der Datensatz geeignet sein?

Ihre Einschätzung:

Stellen Sie Überlegungen zur Datenerhebung an. Welche Faktoren könnten die Datenqualität beeinträchtigen?

Ihre Einschätzung:

Beurteilen Sie den Datensatz bzgl. der weiteren Aspekte zur Datenqualität, die Sie im Kurstext kennengelernt haben:

In [ ]:
# Platz für Analysen bzgl. der Datenqualität

Ihre Einschätzung:

Stellen Sie sich vor, dieser Datensatz soll dazu verwendet werden, um die Zufriedenheit von Angestellten vorherzusagen und daraus wiederum Rückschlüsse auf das Kündigungswahrscheinlichkeiten zu schließen. Für wie zuverlässig würden Sie entsprechende Wahrscheinlichkeiten halten?

Ihre Einschätzung:

Nehmen Sie an, mithilfe des Datensatzes wäre ein zuverlässiges Modell mit guten Vorhersagewahrscheinlichkeiten trainiert worden, um die Zufriedenheit der Angestellten zu bestimmen. Nun möchte eine andere Firma aus der gleichen Branche dasselbe Modell für ihre Angestellten nutzen. Denken Sie, das Modell würde auch für die andere Firma zuverlässige Vorhersagen treffen?

Ihre Einschätzung:

Überlegen Sie, welche Vorverarbeitungsschritte für den Datensatz notwendig wären.

Ihre Einschätzung: